:root {
    --color-primary: #007bff;
    --color-text-dark: #333333;
    --color-background-card: #f8f9fa;
    --color-border: #dddddd;
}

.container {
  background-color: var(--color-background-card); 
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  height: auto;
  width: 300px;
  flex-grow: 1;
  font-family: sans-serif;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover{
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: auto;
  display: block;
}

.card_content {
  padding: 20px;
}

.card_title {
  margin-top: 0;
    font-size: 1.4rem; 
    color: var(--color-primary); 
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.card_description {
  color: var(--color-text-dark);
  font-size: 1rem; 
  line-height: 1.5;
}

.card_button:hover {
  background-color: #0056b3;
}

/* レスポンシブ対応 */
@media (max-width: 900px) {
    .container {
        width: 45%; /* タブレットで2列表示 */
    }
}
@media (max-width: 600px) {
    .container {
        width: 100%; /* モバイルで1列表示 */
    }
}