:root {
    --color-primary: #007bff;
    --color-text-dark: #333333;
    --color-background-card: #f8f9fa;
    --color-border: #dddddd;
}

.container {
  background-color: var(--color-background-card);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  height: auto;
  flex: 1 1 300px;
  max-width: 350px;
  margin: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
	transform: translateY(-0.50em);
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-top: 0;
  margin-bottom: 10px;
}


.level_area {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.level_area img {
  width: 120px; 
  height: auto;
  object-fit: contain;
  /* display: block; */
}

.description {
  color: var(--color-text-dark);
  font-size: 1rem;
  line-height: 1.6;
}

/* レスポンシブ対応 */
@media (max-width: 600px) {
    .container {
        flex-basis: 100%;
        max-width: 100%;
    }
}