.sectionContainer {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 0;
}

.title {
    font-size: 3rem; 
    font-weight: 700;
    color: #007bff;
    border-bottom: 3px solid #eeeeee; 
    padding-bottom: 15px;
    margin-bottom: 50px; 
    text-align: center;
}

.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; 
    justify-content: left; */
    padding: 0;
}

/* モバイル対応 */
@media (max-width: 768px) {
    .sectionContainer {
        padding: 50px 0;
    }
    .title {
        font-size: 2rem;
        margin-bottom: 40px;
    }
}