img {
    width: 330px;
  height: 220px;
  object-fit: contain;
}

.container{
    min-height: 80vh;
    /* padding: 10% 0%; */
    padding: 0 5%;
}

.container h1 {
    font-size: 2.5rem; 
    margin-bottom: 30px; 
    color: #333333; 
}

/* モバイル対応 */
@media (max-width: 600px) {
    .container {
        min-height: 60vh;
    }
    .container h1 {
        font-size: 1.8rem;
    }
    img {
        max-width: 180px;
    }
}